In [3]:
import numpy as np

In [4]:
A = np.array([
    [1,2,3],
    [4,5,6]
])

In [5]:
A.shape

(2, 3)

In [8]:
A[0,1]

2

In [9]:
A[1,0]

4

In [10]:
A.ndim

2

In [11]:
A.size

6

In [16]:
B = np.array([
    [
        [12,11,10],[9,8,7]
    ],
    [
        [6,5,4],[3,2,1]
    ]
])

In [17]:
B

array([[[12, 11, 10],
        [ 9,  8,  7]],

       [[ 6,  5,  4],
        [ 3,  2,  1]]])

In [18]:
#One Column serie: 
import pandas as pd
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [26]:
#Index Column with random dates
dates = pd.date_range("20130101", periods=6, freq="MS")
dates

DatetimeIndex(['2013-01-01', '2013-02-01', '2013-03-01', '2013-04-01',
               '2013-05-01', '2013-06-01'],
              dtype='datetime64[ns]', freq='MS')

In [27]:
#Dataframe with random values
df = pd.DataFrame(np.random.randn(6,5), index = dates, columns = list("ABCDE"))
df

                   A         B         C         D         E
2013-01-01  0.483222  0.093604  0.783800  1.569068 -0.054501
2013-02-01  0.894568 -1.887841 -1.524220  0.885578  0.871876
2013-03-01 -0.064673 -0.823099  1.413015  0.551828  0.236272
2013-04-01  0.946568  0.759035  0.981223 -1.967840 -0.162542
2013-05-01 -0.572818  2.173284 -1.316657  1.041171 -1.278832
2013-06-01 -0.836045  1.263089 -0.224621 -1.611365 -1.369602

In [28]:
#Print data types of each column in the dataframe:
df.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

In [29]:
#Create a dataframe with different data types:
df2 = pd.DataFrame(
    {
    "A" : 1.0,
    "B" : pd.Timestamp("20130102"),
    "C" : pd.Series(1, index = list(range(4)), dtype = "float32"),
    "D" : np.array([3] * 4, dtype = "int32"),
    "E" : pd.Categorical(["test", "train", "test", "train"]),
    "F" : "foo",
    }
)

In [25]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [30]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [31]:
#Show first row of dataset(default 5 rows)
df.head()

                   A         B         C         D         E
2013-01-01  0.483222  0.093604  0.783800  1.569068 -0.054501
2013-02-01  0.894568 -1.887841 -1.524220  0.885578  0.871876
2013-03-01 -0.064673 -0.823099  1.413015  0.551828  0.236272
2013-04-01  0.946568  0.759035  0.981223 -1.967840 -0.162542
2013-05-01 -0.572818  2.173284 -1.316657  1.041171 -1.278832

In [32]:
# show the last row of dataset (3= specified number of rows): 
df.tail(3)

                   A         B         C         D         E
2013-04-01  0.946568  0.759035  0.981223 -1.967840 -0.162542
2013-05-01 -0.572818  2.173284 -1.316657  1.041171 -1.278832
2013-06-01 -0.836045  1.263089 -0.224621 -1.611365 -1.369602

In [34]:
#describe function to describe the dataframe(including quantiles):
df.describe()

              A         B         C         D         E
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.141804  0.263012  0.018756  0.078074 -0.292888
std    0.753707  1.464912  1.239268  1.487756  0.876573
min   -0.836045 -1.887841 -1.524220 -1.967840 -1.369602
25%   -0.445782 -0.593923 -1.043648 -1.070566 -0.999759
50%    0.209274  0.426320  0.279589  0.718703 -0.108522
75%    0.791732  1.137076  0.931867  1.002273  0.163578
max    0.946568  2.173284  1.413015  1.569068  0.871876

In [35]:
#Transpose: changes columns into rows and reverse
df.T

   2013-01-01  2013-02-01  2013-03-01  2013-04-01  2013-05-01  2013-06-01
A    0.483222    0.894568   -0.064673    0.946568   -0.572818   -0.836045
B    0.093604   -1.887841   -0.823099    0.759035    2.173284    1.263089
C    0.783800   -1.524220    1.413015    0.981223   -1.316657   -0.224621
D    1.569068    0.885578    0.551828   -1.967840    1.041171   -1.611365
E   -0.054501    0.871876    0.236272   -0.162542   -1.278832   -1.369602

In [38]:
import os
os.getcwd()

'/home/ec0fcdf8-0115-4da3-9945-0347264f0aa7'