In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
def Sq(x):
    return x * x

In [16]:
x = np.random.randint(1,10)
y = Sq(x)
print(y)

16

In [20]:
for i in range(5):
    x = np.random.randint(1,10)
    y = Sq(x)
    print(y)

1
25
64
49
81

In [26]:
df = pd.read_csv('data/fortune 500 Companies.csv')
df.head()

,name,rank,year,industry,sector,headquarters_state,headquarters_city,market_value_mil,revenue_mil,profit_mil,asset_mil,employees,founder_is_ceo,female_ceo,newcomer_to_fortune_500,global_500
0,General Motors Corporation,1,1996,Motor Vehicles & Parts,NaN,MI,NaN,NaN,168828.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ford Motor Company,2,1996,Motor Vehicles & Parts,NaN,MI,NaN,NaN,137137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Exxon Corporation,3,1996,Petroleum Refining,NaN,TX,NaN,NaN,110009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wal-Mart Stores, Inc.",4,1996,General Merchandisers,NaN,AR,NaN,NaN,93627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T Corp.,5,1996,Telecommunications,NaN,NY,NaN,NaN,79609.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
len(df)

13940

In [30]:
df.tail()

,name,rank,year,industry,sector,headquarters_state,headquarters_city,market_value_mil,revenue_mil,profit_mil,asset_mil,employees,founder_is_ceo,female_ceo,newcomer_to_fortune_500,global_500
13935,KKR,496,2023,Securities,Financials,NY,New York,45225.0,7273.0,841.0,277077.0,4150.0,no,no,no,no
13936,Equinix,497,2023,Real Estate,Financials,CA,Redwood City,66873.0,7263.0,704.0,30311.0,12097.0,no,no,no,no
13937,Sonoco Products,498,2023,"Packaging, Containers",Materials,SC,Hartsville,5975.0,7251.0,466.0,7053.0,22000.0,no,no,yes,no
13938,ServiceNow,499,2023,Computer Software,Technology,CA,Santa Clara,94338.0,7245.0,325.0,13299.0,20433.0,no,no,yes,no
13939,Robert Half International,500,2023,Temporary Help,Business Services,CA,Menlo Park,8677.0,7238.0,658.0,2965.0,16300.0,no,no,no,no

In [31]:
df.dtypes

name                        object
rank                         int64
year                         int64
industry                    object
sector                      object
headquarters_state          object
headquarters_city           object
market_value_mil           float64
revenue_mil                float64
profit_mil                 float64
asset_mil                  float64
employees                  float64
founder_is_ceo              object
female_ceo                  object
newcomer_to_fortune_500     object
global_500                  object
dtype: object

In [32]:
df_selected = df[['year', 'rank', 'industry', 'revenue_mil', 'profit_mil']]

In [33]:
df_selected.dtypes

year             int64
rank             int64
industry        object
revenue_mil    float64
profit_mil     float64
dtype: object

In [35]:
df_selected.columns = ['year', 'rank', 'company', 'revenue', 'profit']

In [37]:
df_selected.head()

   year  rank                 company   revenue  profit
0  1996     1  Motor Vehicles & Parts  168828.6     NaN
1  1996     2  Motor Vehicles & Parts  137137.0     NaN
2  1996     3      Petroleum Refining  110009.0     NaN
3  1996     4   General Merchandisers   93627.0     NaN
4  1996     5      Telecommunications   79609.0     NaN

In [42]:
min_year = df_selected['year'].min()
max_year = df_selected['year'].max()
print(min_year)
print(max_year)

1996
2023

In [48]:
df_selected.isna().any()

year       False
rank       False
company    False
revenue    False
profit      True
dtype: bool

In [50]:
df_selected.isna().sum()

year          0
rank          0
company       0
revenue       0
profit     8443
dtype: int64